/*-General--------------------------------------------------------*/
html body {
	background-color: #2b2b2b;
	color: #d6d6d6;

	font-family: Arial, Helvetica, sans-serif;

	display: flex;
	flex-direction: column;
}

em {
	color: #75d84e;
}

input {
	background-color: #2b2b2b;
	color: #d6d6d6;
	border-style: none;
	border-bottom: #d6d6d6 1px solid;
}

input:focus {
	outline: none;
	border-bottom: #75d84e 1px solid;
}

.allergen {
	color: #eb9a9a;
}

/*-Main-----------------------------------------------------------*/
main {
	align-self: center;
	width: 80%;
	max-width: 800px;
	padding-bottom: 50px;
}

/*-Main_Header----------------------------------------------------*/
#container-h1 {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#container-h1 h1 {
	margin: 0;
	margin-top: 5%;
	width: 100%;
	text-align: center;
}

#container-h1 label {
	margin-bottom: 5%;
	width: 100%;
	text-align: center;
	font-style: italic;
	font-size: x-small;
}

#container-h1-A {
	width: 100%;
	padding: 5% 0% 5% 0%;

	display: flex;
	flex-direction: row;
	justify-content: center;

	background-color: #2b2b2b;
	color: #d6d6d6;
	border-style: none;
}

#barcode-field {
	width: 70%;
	border-bottom: #d6d6d6 1px solid;
	text-align: center;
}

#barcode-field:focus {
	outline: none;
	border-bottom: #75d84e 1px solid;
}

/*-Main_Container1 : infos produit--------------------------------*/
#container-b1 {
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

#container-b1-A {
	max-height: 200px;
	width: 20%;
	padding: 1em 1em 1em 1em;
}

#container-b1-A img {
	max-width: 100%;
	max-height: 100%;
}

#container-b1-B {
	width: 60%;
	padding: 1em 1em 1em 1em;

	display: flex;
	flex-direction: column;
	align-items: left;
}

#container-b1-B label {
	padding-bottom: 10%;
	font-size: large;
	font-weight: bold;
}

/*-Main_Accordeon-------------------------------------------------*/
.accordeon {
	background-color: #2b2b2b;
	color: #d6d6d6;

	cursor: pointer;
	padding: 1em;
	width: 100%;

	text-align: left;
	font-size: large;
	border-style: none;
	border-bottom: #d6d6d6 1px solid;
	outline: none;
}

.accordeon:hover {
	background-color: #2e2e2e;
	color: #75d84e;
}

.accordeon:after {
	content: '⮟';
	color: #d6d6d6;
	float: right;
}

.active {
	border-bottom: none;
	color: #75d84e;
}

.active:after {
	content: '⮝';
	color: #d6d6d6;
	float: right;
	margin-left: 5px;
}

/*-Main_Accordeon_Container---------------------------------------*/
#container-b2,
#container-b3,
#container-b4,
#container-b5 {
	overflow: hidden;
	display: none;
	flex-direction: column;
	align-items: left;

	padding-bottom: 1em;
	border-bottom: #d6d6d6 1px solid;

	text-align: left;
	font-size: medium;
}

/*-Main_Container2 : indicateurs----------------------------------*/
#container-b2 {
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

#container-b2 img {
	padding: 1em;
	max-height: 50px;
}

#veggie-image {
	display: none;
}
/*-Main_Container3 : valeur au 100g-------------------------------*/
#b3-A {
	display: flex;
	flex-direction: column;
	align-items: left;
	padding: 1em 5%;
}

#b3-A label {
	padding-bottom: 1em;
}

/*-Main_Container4 : tableau des nutritions-----------------------*/
#b4-A {
	padding: 1em 10%;
}

#b4-A table {
	border-collapse: collapse;
}

#b4-A table,
#b4-A td,
#b4-A th {
	padding: 0.4em 1em;
	border: 1px solid #8f8f8f;
}

#b4-A thead,
#b4-A thead th {
	background-color: #242424;
	border: 2px solid #a1a1a1;
}

/*-Main_Container5 : liste des ingrédients_-----------------------*/
#b5-A {
	display: flex;
	flex-direction: column;
	align-items: left;
	padding: 1em 5%;
}

#ingre-list-notice {
	padding-top: 1.5em;
	font-size: small;
	font-style: italic;
}

/*-Main_Container6 : Faite des dons-------------------------------*/
#container-b6 {
	margin: 2%;
	text-align: center;

	border-radius: 30px;

	font-size: small;

	margin-bottom: 0;
}

#container-b6 a {
	border-radius: 1000px;

	cursor: pointer;

	line-height: normal;

	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 0.5rem 1.2rem;

	background-color: #75d84e;
	color: #2b2b2b;
}

/*-Footer---------------------------------------------------------*/
footer {
	background-color: #2b2b2b;
	position: fixed;
	padding: 1em;
	width: 100%;
	bottom: 0;
	text-align: center;
}

#container-f1 a {
	color: #d6d6d6;

	text-decoration: none;
	padding: 1em;
}

#container-f1 a:hover {
	color: #75d84e;
}
