@charset "UTF-8";
/*-General--------------------------------------------------------*/
body {
  font: 100% Arial, Helvetica, sans-serif;
  color: #d6d6d6;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
}

em {
  color: #75d84e;
}

.allergen {
  color: #eb9a9a;
}

.hide {
  display: none;
  visibility: hidden;
}

/*-Main-----------------------------------------------------------*/
main {
  align-self: center;
  width: 80%;
  max-width: 800px;
  padding-bottom: 50px;
  /*-Main_Header----------------------------------------------------*/
  /*-Main_Container1 : infos produit--------------------------------*/
  /*-Main_Accordeon-------------------------------------------------*/
  /*-Main_Container2 : indicateurs----------------------------------*/
  /*-Main_Container3 : valeur au 100g-------------------------------*/
  /*-Main_Container4 : tableau des nutritions-----------------------*/
  /*-Main_Container5 : liste des ingrédients_-----------------------*/
  /*-Main_Container6 : Faite des dons-------------------------------*/
}
main .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #container-title h1 {
  margin: 0;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
main #container-title label {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: x-small;
}
main #title-input {
  width: 100%;
  padding: 2rem 0% 2rem 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main #title-input input {
  width: 70%;
  max-width: 250px;
  color: #d6d6d6;
  background-color: #2b2b2b;
  border-style: none;
  border-bottom: #d6d6d6 1px solid;
  text-align: center;
}
main #title-input input:focus {
  outline: none;
  border-bottom: #75d84e 1px solid;
}
main #container-product {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
main #container-product #product-image {
  width: 25%;
  max-height: 200px;
  padding: 1em;
}
main #container-product #product-image img {
  max-width: 100%;
  max-height: inherit;
}
main #container-product #product-label {
  width: 65%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: left;
}
main #container-product #product-label label {
  padding-bottom: 1em;
  font-size: large;
  font-weight: bold;
}
main .accordion {
  color: #d6d6d6;
  background-color: #2b2b2b;
  cursor: pointer;
  width: 100%;
  padding: 1em;
  text-align: left;
  font-size: large;
  border-style: none;
  outline: none;
}
main .accordion:hover {
  background-color: #2b2b2b;
  color: #75d84e;
}
main .accordion:after {
  content: "⮟";
  color: #d6d6d6;
  float: right;
}
main .active {
  border-bottom: none;
  color: #75d84e;
}
main .active:after {
  content: "⮝";
  color: #d6d6d6;
  float: right;
}
main .panel {
  width: 100%;
  text-align: left;
  font-size: medium;
  border-bottom: #d6d6d6 1px solid;
}
main .panel-body {
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: left;
  padding-bottom: 2em;
}
main #panel-one-body {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
main #panel-one-body img {
  padding: 1em;
  max-height: 70px;
}
main #panel-two-body {
  flex-direction: column;
  align-items: left;
  padding-inline: 10%;
}
main #panel-two-body label {
  padding-bottom: 1em;
}
main #panel-three-body {
  padding-inline: 15%;
}
main #panel-three-body table {
  border-collapse: collapse;
}
main #panel-three-body table,
main #panel-three-body td,
main #panel-three-body th {
  padding: 0.5em 1em;
  border: #8f8f8f 1px solid;
}
main #panel-three-body thead,
main #panel-three-body thead th {
  background-color: #242424;
  border: #8f8f8f 2px solid;
}
main #panel-four-body {
  padding-inline: 10%;
}
main #ingre-list-notice {
  margin-top: 2em;
  font-size: small;
  font-style: italic;
}
main #container-donation {
  margin-top: 2em;
  margin-bottom: 0;
  text-align: center;
  font-size: small;
}
main #container-donation a {
  border-radius: 1000px;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  background-color: #75d84e;
  color: #2b2b2b;
}

/*-Footer---------------------------------------------------------*/
footer {
  background-color: #2b2b2b;
  position: fixed;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  bottom: 0;
  text-align: center;
}
footer a {
  color: #d6d6d6;
  text-decoration: none;
  padding: 1em;
}
footer a:hover {
  color: #75d84e;
}